.list-course {
    margin-top: 90px;
    width: 100%;
    padding: 0px 30px;
}
.course-item {
    margin-bottom: 30px;
}

.course-item__title {
    color:#fff;
}
.item__name {
    align-items: center;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item__name span{
    margin-left: 5px;
}
.section-header__button-exercise {
    font-size: 14px;
    font-weight: bold;
    background: #0099ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 10px 17px;
    cursor: pointer;
}
.exercise-item{
    color: #fff;
    background: #121318;
    border-radius: 5px;
    padding: 20px 15px 20px 20px;
    margin-bottom: 15px;
    cursor: pointer;
}
.exercise-item__name {
    font-size: 16px;
    font-weight: bold;   
}
.exercise-item__name a {
    color: #fff;
    text-decoration: none;  
}
.exercise-item__header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exercise-item__description {
    height: 60px;
    width: 100%;
    /* overflow: hidden; */
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.exercise-item__header .list-action {
    position: absolute;
    background: #000;
    padding: 10px;
    z-index: 556;
    top: -49px;
    right: 38px;
    color: #fff;
    font-size: 14px;
    display: none;
}
.exercise-item__header .list-action.active{
    display: block;
}
.exercise-item__header .edit-action {
    margin-bottom: 5px;
    cursor: pointer;
}
.exercise-item__header .delete-action{
    cursor: pointer;
}
.edit-action:hover, .delete-action:hover {
    color: #0099ff;
}
.exercise-item__header .action {
    cursor: pointer;
    padding: 5px;
}
.exercise-item__header .action i{
    color: #fff;
}

.modal {
    text-align: center;
    padding: 0 !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
/* .modal-body button {
    font-size: 14px;
    font-weight: bold;
    background: #0099ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 8px 17px;
    cursor: pointer;
} */
.modal-header{
    font-size: 16px;
    font-weight: bold;
}
.modal-footer button {
    font-size: 14px;
    font-weight: bold;
    background: #0099ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 8px 17px;
    cursor: pointer;
}