.dashboard-content {
    margin-top: 90px;
    padding: 0px 30px;
}
.section {
    margin-bottom: 40px;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.section-header__name{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.section-header__button {
    display: flex;
}
.section-header__button-project{
    font-size: 14px;
    font-weight: bold;
    background: #0099ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 8px 17px;
    cursor: pointer;
}
.section-header__button-course{
    font-size: 14px;
    font-weight: bold;
    background: #FFB155;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 8px 17px;
    cursor: pointer;
    margin-left:10px;
}
.section-content__item {
    background: #121318;
    /* height: 80px; */
    width: 100%;
    margin-bottom: 18px;
}
.section-content__item__image{
    position: relative;
}
.section-content__item__image img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.section-content__item__name{
    width: 100%;
    padding: 12px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-content__item__name .list-action {
    position: absolute;
    background: #000;
    padding: 10px;
    z-index: 556;
    bottom: -33px;
    right: -78px;
    color: #fff;
    font-size: 14px;
    display: none;
}
.section-content__item__name .list-action.active{
    display: block;
}
.section-content__item__name .edit-action {
    margin-bottom: 5px;
    cursor: pointer;
}
.edit-action:hover, .delete-action:hover {
    color: #0099ff;
}
.section-content__item__name .delete-action{
    cursor: pointer;
}
.section-content__item__name .action {
    cursor: pointer;
    padding: 0px 5px;
}
.section-content__item__name .action i{
    color: #fff;
}
.section-content__item__name a{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.list-action {
    position: absolute;
    background: #000;
    bottom: 0;
    right: 0;
}
.modal {
    text-align: center;
    padding: 0 !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-header{
    font-size: 16px;
    font-weight: bold;
}
.modal-footer button {
    font-size: 14px;
    font-weight: bold;
    background: #0099ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 8px 17px;
    cursor: pointer;
}

.avartar {
    width: 35px;
    height: 35px;
    background: red;
    cursor: pointer;
}
.menu-down {
    display: none;
    color: #fff;
    width: 150px;
    background: #000;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 4px;
}
.menu-down.active {
    display: block;
}
.profile {
    padding: 10px;
}
.profile i, .logout i{
    margin-right: 5px;
}
.logout {
    padding: 10px;
}
.profile:hover, .logout:hover {
    background: #18242D;
    border-left: 3px solid #276692;
    cursor: pointer;
}
.view-all-link {
    padding: 15px 20px;
    border: 1px solid #999;
    color: #ccc;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
.view-all-link:hover {
    text-decoration: none;
    color: #00c2a9;
}
.view-all-section {
    margin: 25px 0px;
    text-align: center;
}
.thumb-image {
    margin-top: 10px;
    width: 100px;
    position: relative;
    padding: 5px;
}
.modal-body {
    max-height: 435px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

#openModalEditProfile .modal-content__top{
    padding: 30px 20px 0px 27px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);

}
#openModalEditProfile .modal-content{
    width: 400px!important;
}
#openModalEditProfile .modal-dialog{
    width: 400px!important;
}
.modal-bottom__avatar img {
    height: 145px;
    width: 145px;
    border-radius: 50%;
}
.edit-content {
    position: relative;
    padding: 0px 40px;
}
.modal-bottom__avatar {
    position: relative;
    /* position: absolute; */
    bottom: -73px;
    display: flex;
    justify-content: center;
}
#openModalEditProfile .signInForm .input__label {
    color: #555;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    display: block;
}
.signInForm input {
    margin-bottom: 24px;
}
.signUpForm input {
    margin-bottom: 21px;
}
#openModalEditProfile .signInForm .input__field {
    position: relative;
    height: 40px;
    min-width: 192px;
    width: 100%;
    border-radius: 2px;
    background: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #555;
    padding: 8px 16px;
    border: 1px solid #555;
    margin-bottom: 15px;
    outline: none;
}
.edit-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.edit-submit__button {
    font-size: 14px;
    font-weight: bold;
    background: #0099ff;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 8px 17px;
    cursor: pointer;
}
.modal-content__bottom {
    padding-top: 90px;
}